.library {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.library__image {
  border-radius: 5px;
  width: 280px;
  height: 402px;
  object-fit: cover;
}

.library__desc_wrapper {
  width: 280px;
}

.library__item {
  height: 454px;
}

.library_title {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.library__description {
  color: #ff6b08;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .library {
    gap: 32px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 59px;
    padding-bottom: 61px;
  }

  .library__image {
    width: 336px;
    height: 455px;
  }

  .library__desc_wrapper {
    width: 336px;
  }

  .library__item {
    height: 495px;
  }

  .library__title {
    line-height: 16px;
    margin-top: 8px;
  }

  .library__description {
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .library {
    gap: 16px;
    padding-top: 56px;
    padding-bottom: 60px;
    justify-content: flex-start;
  }

  .library__image {
    width: 394px;
    height: 574px;
  }

  .library__desc_wrapper {
    width: 394px;
  }

  .library__item {
    height: 658px;
  }

  .library__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
  }

  .library__description {
    font-size: 20px;
    line-height: 24px;
  }
}
